header {
    img {
        @include img-center;
    }
    nav {
        ul {
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                text-transform: uppercase;
                padding: 0px 10px;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
